.menu_container {
    width: 210px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e8eaec;
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.menu_item {
    border-bottom: 1px dashed #e9eaec;
    color: #495060;
    display: block;
    text-align: left;
    padding: 15px 20px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
}

.menu_item:hover {
    background: #f8f8f9;
    border-left: 2px solid #5cadff;
    color: #2d8cf0;
}