.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.part1 {
    display: flex;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 32px;
}

.leftDiv {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Barlow, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif !important;
    font-weight: 700;
    font-size: 3.4rem !important;
    letter-spacing: 0 !important;
    line-height: 3.8rem;
}

.text {
    font-size: 16px;
    margin-top: 32px;
    color: #2a4f66;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif !important;
    font-weight: 400;
    font-size: 1.25rem !important;
    letter-spacing: 0 !important;
    line-height: 1.8rem;
}

.ctaButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    margin-right: 32px;
    height: 64px;
    min-width: 114px;
    padding: 0 28.4444444444px;
    font-size: 1.2rem;
}

.ctaButton:hover {
    background-color: #0056b3;
}

.rightDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text_hl {
    color: #2e99d0 !important;
    caret-color: #2e99d0 !important;
}

.action_wrapper {
    display: flex;
    margin-top: 32px;
}